In [76]:
import psycopg2

In [77]:
con = psycopg2.connect(dbname = 'mydb', host = 'chitaxi.cnvpeu6za5fz.us-east-2.redshift.amazonaws.com', 
                       port = 5439, user = 'rzhao' , password = 'Metis_2018' )

In [78]:
cur = con.cursor()

In [70]:
sql_command = """CREATE TABLE taxi_ride1(
    Trip_ID VARCHAR(50),
    Taxi_ID VARCHAR(180),
    Trip_Start TIMESTAMP,
    Trip_End TIMESTAMP,
    Trip_Duration INT,
    Trip_Length DECIMAL(8,2),
    Pickup_Tract BIGINT,
    Dropoff_Tract BIGINT,
    Pickup_Community INT,
    Dropoff_Community INT,
    Fare VARCHAR,
    Tips VARCHAR,
    Tolls VARCHAR,
    Extras VARCHAR,
    Trip_Total VARCHAR,
    Payment_Type VARCHAR,
    Pickup_Lat VARCHAR,
    Pickup_Lon VARCHAR,
    Dropoff_Lat VARCHAR,
    Dropoff_Lon VARCHAR,
    Dropoff_Loc VARCHAR,
    Community_Areas INT);"""

In [71]:

cur.execute(sql_command)

In [72]:
cur.execute("commit;")

In [73]:
query = """COPY taxi_ride1 from 's3://chicagotaxi/Taxi_Trips_Updated.csv'
credentials 'aws_iam_role=arn:aws:iam::020116439671:role/myRedshiftRole' 
IGNOREHEADER 1
MAXERROR 1000
delimiter ',' region 'us-east-2'
TIMEFORMAT AS 'MM/DD/YYYY HH12:MI:SS PM'"""

In [74]:
cur.execute(query)

OperationalError: server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

## To Check for Error

In [62]:
errorquery1 = """select starttime, filename, err_reason, line_number,
  colname, type, col_length, position, raw_field_value,
  raw_line, err_code
from stl_load_errors
order by starttime desc limit 5000;"""

In [63]:
cur.execute(errorquery1)

In [64]:
error = cur.fetchall()

In [65]:
df = pd.DataFrame(error, columns = """starttime, filename, err_reason, line_number,
  colname, type, col_length, position, raw_field_value,
  raw_line, err_code""".split(","))

In [66]:
df.to_csv('error_messages.csv')

## To Check Original Dataframe

In [23]:
import pandas as pd

In [62]:
df = pd.read_csv("~/Downloads/Taxi_Trips.csv", nrows=2)

In [63]:
df

,Trip ID,Taxi ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,...,Trip Total,Payment Type,Company,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location,Community Areas
0,79ca58d6c5aac8dca57ce120ff6e456324584b80,d9a03659c36a939d0b76488394be2b3c8993e4087e2f08...,04/02/2015 09:00:00 AM,04/02/2015 09:00:00 AM,540,1.2,1.703108e+10,1.703128e+10,8,28,...,$7.05,Cash,NaN,41.892073,-87.628874,POINT (-87.6288741572 41.8920726347),41.879255,-87.642649,POINT (-87.642648998 41.8792550844),37
1,79ca594be9229714808cb223965602bae76a072e,3446442418acf44dc1e3556376bd40dd87a22d1f6ceb4a...,12/06/2015 05:30:00 PM,12/06/2015 05:30:00 PM,360,1.6,NaN,NaN,6,6,...,$6.65,Cash,Taxi Affiliation Services,41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),41.944227,-87.655998,POINT (-87.6559981815 41.9442266014),57

In [65]:
df.iloc[0]

Trip ID                                79ca58d6c5aac8dca57ce120ff6e456324584b80
Taxi ID                       d9a03659c36a939d0b76488394be2b3c8993e4087e2f08...
Trip Start Timestamp                                     04/02/2015 09:00:00 AM
Trip End Timestamp                                       04/02/2015 09:00:00 AM
Trip Seconds                                                                540
Trip Miles                                                                  1.2
Pickup Census Tract                                                 1.70311e+10
Dropoff Census Tract                                                1.70313e+10
Pickup Community Area                                                         8
Dropoff Community Area                                                       28
Fare                                                                      $7.05
Tips                                                                      $0.00
Tolls                                                                     $0.00
Extras                                                                    $0.00
Trip Total                                                                $7.05
Payment Type                                                               Cash
Company                                                                     NaN
Pickup Centroid Latitude                                                41.8921
Pickup Centroid Longitude                                              -87.6289
Pickup Centroid Location                   POINT (-87.6288741572 41.8920726347)
Dropoff Centroid Latitude                                               41.8793
Dropoff Centroid Longitude                                             -87.6426
Dropoff Centroid  Location                  POINT (-87.642648998 41.8792550844)
Community Areas                                                              37
Name: 0, dtype: object

## Check the first 10 rows of the dataframe

In [79]:
cur.execute("""SELECT * FROM taxi_ride1 LIMIT 10;""")

In [80]:
cur.fetchall()

[]