In [1]:
import psycopg2 as pg
import pandas.io.sql as pd_sql
import pandas as pd
import numpy as np

In [2]:
connection_args = {
    'host': '127.0.0.1', 
    'user': 'zhao',    
    'dbname': 'taxi_sample',   
    'port': 5432        
}

connection = pg.connect(**connection_args)

In [4]:
query = "SELECT COUNT(*) FROM taxi_ride;"
df = pd_sql.read_sql (query, connection)

In [5]:
df

     count
0  1101942

## How to connect spark and Python

In [10]:
import pyspark
from pyspark.sql import SparkSession

spark = (SparkSession.builder.appName('app')
                     .config("spark.driver.extraClassPath", "/Users/mirandazhao/Library/postgresql-42.2.2.jar")
                     .getOrCreate())

In [8]:
df = (spark.read.format('jdbc')
           .option('url', 'jdbc:postgresql:taxi_sample')
           .option('dbtable', 'taxi_ride')
           .option('user', 'zhao')
           .load()
     )

In [14]:
def preview(spark_df):
    return pd.DataFrame(spark_df.take(5), columns = spark_df.columns)
preview(df)

,trip_id,taxi_id,trip_start,trip_end,trip_duration,trip_length,pickup_community,dropoff_community,fare,tips,tolls,extras,trip_total,payment_type
0,8ae798cf467f4135bfda9f2380a7fdf2b0dacf27,7ed122481c0964a5555309bf4696e25bbf7def086d7ecb...,2017-05-18 20:00:00,2017-05-18 20:15:00,540,0.00,8,8,$7.00,$2.00,$0.00,$0.00,$9.00,Credit Card
1,8ae7a5d1c3216810bc1233c2b277123ce5051c5d,21644e2c146605fd85017fc07a3c15ebcffd7ba491f41c...,2017-05-06 19:15:00,2017-05-06 19:15:00,420,0.00,77,3,$6.25,$1.00,$0.00,$1.50,$8.75,Credit Card
2,8ae7dd65d2bf100bacd0aa0d88c9eb6b54170fbf,fd8d8fc9b08d23876626a5e7f8fb72e2c340d8755135a1...,2017-05-23 16:45:00,2017-05-23 16:45:00,420,0.90,28,32,$6.25,$2.00,$0.00,$0.00,$8.75,Credit Card
3,8ae7df9ed8297fd43da24bc71613fc6f00a6b04e,144f6db98ba2bd667e131e37ed5b79fe44416ebe9337f5...,2017-05-25 00:15:00,2017-05-25 00:30:00,1380,17.60,76,8,$44.00,$1.00,$0.00,$4.00,$49.50,Credit Card
4,8ae7e6b9e098786c945d6934cb21fe497f0b7a09,4a263f78f56815be4acd38658af8fc1824ce4e15f7ec81...,2017-05-18 15:45:00,2017-05-18 15:45:00,0,0.00,76,76,$3.25,$0.00,$0.00,$62.00,$65.25,Credit Card

In [6]:
import pandas as pd

df = pd.read_csv("~/Downloads/Taxi_Trips_Updated.csv", nrows=2000)

df['Pickup Centroid Longitude'].value_counts()

-87.632746    235
-87.626215    109
-87.620993    104
-87.631864     91
-87.633308     88
-87.903040     75
-87.655998     66
-87.642649     59
-87.626211     58
-87.628874     51
-87.637844     49
-87.625192     48
-87.618868     47
-87.676356     46
-87.649489     45
-87.663518     39
-87.620763     38
-87.642808     36
-87.621972     34
-87.619711     33
-87.617358     32
-87.913625     29
-87.750934     25
-87.655879     25
-87.612945     23
-87.622173     22
-87.657233     22
-87.699155     18
-87.663416     18
-87.631717     18
             ...
-87.616134      1
-87.675063      1
-87.657341      1
-87.646730      1
-87.671110      1
-87.701885      1
-87.617860      1
-87.643471      1
-87.659167      1
-87.667569      1
-87.659864      1
-87.655912      1
-87.666596      1
-87.641071      1
-87.643023      1
-87.678846      1
-87.676578      1
-87.804532      1
-87.664954      1
-87.681356      1
-87.664047      1
-87.656412      1
-87.670945      1
-87.671446      1
-87.671108      1
-87.650290      1
-87.639854      1
-87.585303      1
-87.717504      1
-87.665338      1
Name: Pickup Centroid Longitude, Length: 136, dtype: int64