In [1]:
import pandas as pd
import numpy as np
import pickle
import datetime

In [4]:
weather = pd.read_csv('Weather.csv')

In [112]:
weather.head(5)

,HOURLYVISIBILITY,HOURLYWETBULBTEMPF,HOURLYRelativeHumidity,HOURLYPrecip
DateTime,,,,
2013-01-01 00:51:00,10,17.0,62.0,0
2013-01-01 01:51:00,10,16.0,62.0,0
2013-01-01 02:51:00,10,15.0,65.0,0
2013-01-01 03:51:00,10,14.0,67.0,0
2013-01-01 04:51:00,10,13.0,67.0,0

In [121]:
weather['HOURLYVISIBILITY']=weather.HOURLYVISIBILITY.astype(float)

In [182]:
W15 = weather.resample('15T').mean().interpolate(method='linear')

In [10]:
weather.to_pickle('Weather_Updated.pkl')

In [177]:
# Change datetime format for DATE and remove original DATE
weather['DateTime'] = pd.to_datetime(weather['DATE'])
weather.drop('DATE',axis=1, inplace=True)
weather.set_index('DateTime',inplace=True)

In [178]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 64964 entries, 2013-01-01 00:51:00 to 2017-12-31 23:59:00
Data columns (total 4 columns):
HOURLYVISIBILITY          64964 non-null float64
HOURLYWETBULBTEMPF        64964 non-null float64
HOURLYRelativeHumidity    64964 non-null float64
HOURLYPrecip              64964 non-null float64
dtypes: float64(4)
memory usage: 2.5 MB

In [160]:
with open('weather.csv','r') as file:
    weather=pd.read_csv(file)

In [180]:
weather.head(5)

,HOURLYVISIBILITY,HOURLYWETBULBTEMPF,HOURLYRelativeHumidity,HOURLYPrecip
DateTime,,,,
2013-01-01 00:51:00,10.0,17.0,62.0,0.0
2013-01-01 01:51:00,10.0,16.0,62.0,0.0
2013-01-01 02:51:00,10.0,15.0,65.0,0.0
2013-01-01 03:51:00,10.0,14.0,67.0,0.0
2013-01-01 04:51:00,10.0,13.0,67.0,0.0

In [45]:
# find the NaN in this dataframe
nans = lambda weather: weather[weather.isnull().any(axis=1)]
nans(weather)

In [170]:
# fill the NaNs with before or after information
weather.fillna(method='ffill',inplace=True)
weather.fillna(method='backfill',inplace=True)

In [63]:
# update the Hourly precipitation trace to 0.005
# weather.loc[weather.HOURLYPrecip == 'T', 'HOURLYPrecip'] = 0.005

In [137]:
import re
import string
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [167]:
weather.head(5)

,DATE,HOURLYVISIBILITY,HOURLYWETBULBTEMPF,HOURLYRelativeHumidity,HOURLYPrecip
0,2013-01-01 00:51,10,17.0,62.0,NaN
1,2013-01-01 01:51,10,16.0,62.0,0.0
2,2013-01-01 02:51,10,15.0,65.0,0.0
3,2013-01-01 03:51,10,14.0,67.0,0.0
4,2013-01-01 04:51,10,13.0,67.0,0.0

In [147]:
# remove letter after numerical
def remove_letter(s):
    if type(s)==str:
        return "".join([char for char in s if char not in string.ascii_letters])
    else:
        return s
    
def convert(s):
    try: 
        number=float(remove_letter(s))
        return number
    except:
        return np.nan

In [165]:
weather.HOURLYPrecip=weather.HOURLYPrecip.apply(lambda x: convert(x))
weather.HOURLYPrecip=weather.HOURLYPrecip.astype(float)

In [174]:
weather.HOURLYVISIBILITY=weather.HOURLYVISIBILITY.apply(lambda x: convert(x))
weather.HOURLYVISIBILITY=weather.HOURLYVISIBILITY.astype(float)

In [175]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64964 entries, 0 to 64963
Data columns (total 5 columns):
DATE                      64964 non-null object
HOURLYVISIBILITY          64964 non-null float64
HOURLYWETBULBTEMPF        64964 non-null float64
HOURLYRelativeHumidity    64964 non-null float64
HOURLYPrecip              64964 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.5+ MB

In [176]:
nans(weather)

Empty DataFrame
Columns: [DATE, HOURLYVISIBILITY, HOURLYWETBULBTEMPF, HOURLYRelativeHumidity, HOURLYPrecip]
Index: []

In [179]:
# pickle the dataframe
weather.to_pickle('weather.pkl')

In [2]:
# open the pickle file
with open ('Weather_updated.pkl', 'rb') as file:
    weather = pickle.load(file)

In [9]:
weather.head(5)

                      Vis   Temp  Humidity  Precip
DateTime
2013-01-01 00:45:00  10.0  17.00      62.0     0.0
2013-01-01 01:00:00  10.0  16.75      62.0     0.0
2013-01-01 01:15:00  10.0  16.50      62.0     0.0
2013-01-01 01:30:00  10.0  16.25      62.0     0.0
2013-01-01 01:45:00  10.0  16.00      62.0     0.0

In [8]:
weather.rename(columns={'HOURLYVISIBILITY':'Vis', 'HOURLYWETBULBTEMPF':'Temp', 'HOURLYRelativeHumidity':'Humidity',
                'HOURLYPrecip':'Precip'},inplace=True)